# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# whatsapp-web.js auth data
.wwebjs_auth/
.wwebjs_cache/

# secret-containing scripts and temp files
update_test_creds.ps1
restore_live_creds.ps1
restore_env_direct.ps1
restore_env.ps1
fix-env.ps1
test-sms.js
test-email.js
test_result.txt
test_output.txt
git_push_output.txt
debug.log
